<a class="listItem menuItem codebehind" (click)="goto('')"><span>C</span>ode<span>B</span>ehind</a>
<a class="listItem menuItem" [class.chosen]="nav=='articles'" (click)="goto('articles')">Articles</a>
<a class="listItem menuItem" [class.chosen]="nav=='designpatterns'" (click)="goto('designpatterns')">Design-Patterns</a>
<a class="listItem menuItem" [class.chosen]="nav=='blog'" (click)="goto('blog')">Blog</a>
<a class="listItem menuItem" [class.chosen]="nav=='contact'" (click)="goto('contact')">Contact</a>
