<section class="slider">

  <app-slide [location]="1" [src]="'./assets/TicTacToe/s1.jpg'"></app-slide>
  <app-slide [location]="2" [src]="'./assets/TicTacToe/s2.jpg'"></app-slide>
  <app-slide [location]="3" [src]="'./assets/TicTacToe/s3.jpg'"></app-slide>
  <app-slide [location]="4" [src]="'./assets/TicTacToe/s4.jpg'"></app-slide>
  <app-slide [location]="5" [src]="'./assets/TicTacToe/s5.jpg'"></app-slide>
  <app-slide [location]="6" [src]="'./assets/TicTacToe/s6.jpg'"></app-slide>
  <app-slide [location]="7" [src]="'./assets/TicTacToe/s7.jpg'"></app-slide>
  <app-slide [location]="8" [src]="'./assets/TicTacToe/s8.jpg'"></app-slide>
  <app-slide [location]="9" [src]="'./assets/TicTacToe/s9.jpg'"></app-slide>
  <app-slide [location]="10" [src]="'./assets/TicTacToe/s10.jpg'"></app-slide>
  <app-slide [location]="11" [src]="'./assets/TicTacToe/s11.jpg'"></app-slide>
  <app-slide [location]="12" [src]="'./assets/TicTacToe/s12.jpg'"></app-slide>
  <app-slide [location]="13" [src]="'./assets/TicTacToe/s13.jpg'"></app-slide>
  <app-slide [location]="14" [src]="'./assets/TicTacToe/s14.jpg'"></app-slide>
  <app-slide [location]="15" [src]="'./assets/TicTacToe/s15.jpg'"></app-slide>
</section>
