<section class="slider">

  <app-slide [top]="slides[1].location.top"  [left]="slides[1].location.left"  [src]="'./assets/TicTacToe/s1.jpg'"></app-slide>
  <app-slide [top]="slides[2].location.top"  [left]="slides[2].location.left"  [src]="'./assets/TicTacToe/s2.jpg'"></app-slide>
  <app-slide [top]="slides[3].location.top"  [left]="slides[3].location.left"  [src]="'./assets/TicTacToe/s3.jpg'"></app-slide>
  <app-slide [top]="slides[4].location.top"  [left]="slides[4].location.left"  [src]= "'./assets/TicTacToe/s4.jpg'"></app-slide>
  <app-slide [top]="slides[5].location.top"  [left]="slides[5].location.left"  [src]="'./assets/TicTacToe/s5.jpg'"></app-slide>
  <app-slide [top]="slides[6].location.top"  [left]="slides[6].location.left"  [src]="'./assets/TicTacToe/s6.jpg'"></app-slide>
  <app-slide [top]="slides[7].location.top"  [left]="slides[7].location.left"  [src]="'./assets/TicTacToe/s7.jpg'"></app-slide>
  <app-slide [top]="slides[8].location.top"  [left]="slides[8].location.left"  [src]="'./assets/TicTacToe/s8.jpg'"></app-slide>
  <app-slide [top]="slides[9].location.top"  [left]="slides[9].location.left"  [src]="'./assets/TicTacToe/s9.jpg'"></app-slide>
  <app-slide [top]="slides[10].location.top" [left]="slides[10].location.left" [src]="'./assets/TicTacToe/s10.jpg'"></app-slide>
  <app-slide [top]="slides[11].location.top" [left]="slides[11].location.left" [src]="'./assets/TicTacToe/s11.jpg'"></app-slide>
  <app-slide [top]="slides[12].location.top" [left]="slides[12].location.left" [src]="'./assets/TicTacToe/s12.jpg'"></app-slide>
  <app-slide [top]="slides[13].location.top" [left]="slides[13].location.left" [src]="'./assets/TicTacToe/s13.jpg'"></app-slide>
  <app-slide [top]="slides[14].location.top" [left]="slides[14].location.left" [src]="'./assets/TicTacToe/s14.jpg'"></app-slide>
  <app-slide [top]="slides[15].location.top" [left]="slides[15].location.left" [src]="'./assets/TicTacToe/s15.jpg'"></app-slide>

</section>
