.home-main {
  padding: 10px;
}

.home-quote {
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  font-size: 30px;
}

.home-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  padding-top: 20px;
}
